.container {
  --width: 100%;
  --aspect-ratio: 2.41;
}

.banner {
  z-index: 2;
  width: var(--width);
  pointer-events: none;
  display: block;
}

.degradat {
  position: absolute;
  top: calc(var(--width) / var(--aspect-ratio));
  left: 0;
  width: var(--width);
  z-index: 10;
  top: 0;
  display: block;
  pointer-events: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  display: block;
  pointer-events: none;
}
