<div class="container">
  <img src="{{ root }}/assets/banner/banner.png" class="banner" appParallax [ratio]="-2" draggable="false" />
  <img
    src="{{ root }}/assets/banner/mascara.png"
    class="mascara"
    appParallax
    [ratio]="-10"
    [mask]="true"
    draggable="false"
  />
  <img src="{{ root }}/assets/banner/content.png" class="content" appParallax [ratio]="1" draggable="false" />
  <img src="{{ root }}/assets/banner/degradat.png" class="degradat" appParallax [ratio]="-2" draggable="false" />
</div>
