.img {
  width: min-content;
  height: 400px;
  border-radius: 20px;
  box-shadow: -10px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.flex {
  --margin: 10%;
  display: flex;
  align-items: center;
  margin-left: calc(var(--margin));
  margin-right: calc(var(--margin));
}

.content {
  text-align: center;
}

.content-right {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
}

.description {
  color: rgb(160, 160, 160);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 1030px) {
  .flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    height: fit-content;
  }

  .img {
    display: none;
  }

  .title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .description {
    margin-left: 5%;
    margin-right: 5%;
  }

  .content-right {
    order: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .content {
    order: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .discord-widget {
    margin-top: 5%;
  }
}
