.container {
  margin: 2% 10% 0px 10%;
}

.title {
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 0;
}

.description {
  font-weight: lighter;
  font-size: 1.2em;
  margin-bottom: 2rem;
}
