<div class="container">
  <h1 class="title">Comandes</h1>
  <h3 class="description">
    Aquí està tota la informació en detall sobre l'extensa llista de comandes que hi ha disponibles al CataBOT.
  </h3>

  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoading; else commandsPanel"></mat-progress-bar>

  <ng-template #commandsPanel>
    <mat-accordion>
      <app-command *ngFor="let command of commands" [command]="command" class="command"></app-command>
    </mat-accordion>
  </ng-template>
</div>
