<div class="container">
  <img src="assets/banner/banner.png" class="banner mobile" appParallax [ratio]="-1" draggable="false" />
  <img src="assets/banner/degradat.png" class="degradat mobile" appParallax [ratio]="-1" draggable="false" />
  <img src="assets/banner/content.png" class="content" appParallax [ratio]="3" draggable="false" />

  <a
    mat-raised-button
    class="button"
    href="https://discordapp.com/oauth2/authorize?client_id=529787494510624768&permissions=8&scope=bot"
    target="_blank"
    appParallax
    [ratio]="3"
  >
    Afegeix a Discord
  </a>
</div>
