<div *ngIf="direction === 'left'; else rightOrientation" class="flex">
  <iframe
    *ngIf="isLast"
    src="https://discord.com/widget?id=804473669556109333&theme=dark"
    width="350"
    height="400"
    allowtransparency="true"
    frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
  ></iframe>
  <img *ngIf="!isLast" src="assets/png/{{ info.icon }}.png" class="img" />
  <div class="content">
    <h1 class="title">{{ info.title }}</h1>
    <p class="description">
      {{ info.description }}
    </p>
  </div>
</div>

<ng-template #rightOrientation>
  <div class="flex">
    <div class="content-right">
      <h1 class="title">{{ info.title }}</h1>
      <p class="description">
        {{ info.description }}
      </p>
    </div>
    <iframe
      *ngIf="isLast"
      src="https://discord.com/widget?id=804473669556109333&theme=dark"
      width="350"
      height="400"
      allowtransparency="true"
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
    <img *ngIf="!isLast" src="assets/png/{{ info.icon }}.png" class="img" />
  </div>
</ng-template>
