.header {
  z-index: 1;
}

.content {
  position: relative;
  width: 100vw;
  z-index: 2;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #243950;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
}
