.container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.counter {
  flex: 1 auto;
  text-align: center;
}

.number {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.category {
  font-weight: lighter;
}
